# compiled code
*.py[cod]
__pycache__/

# Unit test
.cache

# macOS
.DS_Store

# IDE project files
*.idea
.vscode

# distribution / packaging
build/
dist/
*.egg-info/

# Testing output
pytest.xml
.coverage
coverage.xml
nosetests.xml
pylint.out
