beautifulsoup4~=4.7
cld2_cffi~=0.1
datasketch~=1.4.7
gensim~=3.8.0
msgpack~=0.6 # Needed for textacy to catch up with https://github.com/explosion/spaCy/pull/3003.
numpy~=1.16.4
spacy~=2.1.6
textacy~=0.8.0
textpipe-pattern==3.6.1
tqdm~=4.32.2
